:root {
  --prim-clr: black;
  --sec-clr: white;
  --ter-clr: #011937;
  --nav-size: 80px;
  --gradient4: linear-gradient(83deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8225665266106442) 52%, rgba(255,255,255,0.9009978991596639) 100%);
}
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ==========NAV-BAR========== */
h1 {
  color: var(--sec-clr);
}
header {
  display: flex;
  flex-direction: column;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: var(--nav-size);
  background-image: url(img/link-banner-bkg.png);
  position: fixed;
  z-index: 999;
}
.banner-acc {
  position: relative;
  top: var(--nav-size);
  height: 350px;
  background: center no-repeat url(img/header-global.png), url(img/background-title.png);
  background-size: cover;
}
nav a {
  font-family: 'Poppins', sans-serif;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--sec-clr);
  margin-left:20px;
  border: 2px solid var(--sec-clr);
  padding: 10px 15px;
  background-image: var(--gradient4);
  background-size: 400%;
  background-position: left;
  transition: color, 600ms, background-position 800ms;
}
nav a:hover {
  color: var(--ter-clr);
  background-position: right;
}
/* ================================== */
/* ================================== */
/* ================================== */

body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* FLOAT */
.float_left {
  float: left;
}
.float_right {
  float: right;
}
/* FLEX */
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.row {
  display: flex;
  justify-content: space-evenly;
}

/* IMAGE */
.d_img img{
  border-radius: 50%;
  border:2px solid white;
}
.d_img img:hover{
  border-radius: 50
}
.img_size {
  width: 20%;
  padding: 5px;
}

.d_img img{
    width: 20vw;
}

/* MAIN */
.main {
  background: center center fixed url(img/background-test.2.png);
  background-size: cover;
}
.article {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
}
.article h3 {
  text-align: center;
}
.article p {
  background: center fixed url(img/background.01.jpg);
  background-size: cover;
  color: white;
  width: 80%;
  margin: 20px auto;
  padding: 50px;
  border: 2px solid white;
}