body,
html {
  margin: 0;
  box-sizing: border-box;
}

/* FLOAT */
.float_left {
  float: left;
}
.float_right {
  float: right;
}
/* FLEX */
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
/* IMAGE */
.img_size {
  width: 20%;
  padding: 5px;
}

.d_img img{
    width: 20vw;
}
/* HEADER */
.header {
  height: 300px;
  margin: 0 0 30px 0;
  background: center no-repeat url(img/headGlobal.png);
  background-size: cover;
  background-color: linear-gradient(white, black);
  background-blend-mode: hard-light;
}

/* MAIN */
.main {
  background: center center fixed url(img/background-test.2.png);
  background-size: cover;
}
.article {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
}
.article h3 {
  text-align: center;
}
.article p {
  background: center fixed url(img/background.01.jpg);
  background-size: cover;
  color: white;
  width: 80%;
  margin: 20px auto;
  padding: 50px;
  border: 2px solid white;
}

/* FOOTER */
.footer {
  height: 150px;
  margin: 30px 0 0 0;
  background: lightcyan;
}
